.App {
  margin: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
}

.App-link {
  color: #007EA8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  padding-left: 10px;
  padding-right: 10px;
}

.navigation {
  background-color: #FFD3A6; /* light orange */
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
}

.navbar-brand {
  text-align: center;
}

.nav-item {
  padding-left: 30px;
  color: #007EA8; /* light blue */
}

.copyright-link {
  color: #007EA8;
}

.skip-link {  
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.blank-text {
  color: #FFD3A6;
}

.footer {
  position: fixed;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: white;
}
