.apt-ul .card-columns {
  margin-right: 10px;
  display: inline-block;
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.apt-li {
  margin-bottom: 30px;
}

.tag {
  width: 25px;
}

.card-title, .card-header, .card-footer {
  text-transform: capitalize;
  background-color: #FFD3A6; /* light orange */
}

.card-body {
  background-color: #72D6F5; /* light blue */
}